{% extends 'website/base.html' %}

{% block page_title %}
    Coup d'un soir - Actu
{% endblock %}

{% load staticfiles %}

{% block containerRight %}
    <div class="row" style="padding-top:20vh;">
        <div class="col-md-6" id="articleLeft">
        <div class="art col-md-12" >
           {% for pro in projects_left %}
                {% include 'website/project_summary.html' %}
           {% endfor %}
        </div>
        </div>
        <div class="col-md-6" id="articleRight">
        <div class="art col-md-12" >
            {% for pro in projects_right %}
                {% include 'website/project_summary.html' %}
           {% endfor %}
        </div>
        </div>
    </div>

    <script>
    document.getElementById("containerLeft").style.background = '{{ background_url }}';
    document.getElementById("containerLeft").style.backgroundRepeat = "no-repeat";
    document.getElementById("containerLeft").style.backgroundSize = "cover";
    document.getElementById("containerLeft").style.backgroundPosition = "center center";
    </script>
{% endblock %}