{% extends 'website/base.html' %}

{% load staticfiles %}
{% block page_title %}
    Coup d'un soir
{% endblock %}

{% block containerRight %}
    <div class="presArticle col-md-12" >
    <h3>événements passés</h3>
    <p>À chaque coup, une nouvelle expérience, dirigé par un ou plusieurs chefs. Leur cuisine dans un nouveau lieu et le tour est joué !
<br><br>
Revivez nos derniers « coup d’un soir » et retrouvez les saveurs de leur soirée.</p>
</div>

    <div class="row" style="padding-top:20vh;">
        <div class="col-md-6" id="articleLeft">
        <div class="art col-md-12" >
           {% for pro in projects_left %}
                {% include 'website/project_summary.html' %}
           {% endfor %}
        </div>
        </div>
        <div class="col-md-6" id="articleRight">
        <div class="art col-md-12" >
            {% for pro in projects_right %}
                {% include 'website/project_summary.html' %}
           {% endfor %}
        </div>
        </div>
    </div>

    <script>
    document.getElementById("containerLeft").style.background = '{{ background_url }}';
    document.getElementById("containerLeft").style.backgroundRepeat = "no-repeat";
    document.getElementById("containerLeft").style.backgroundSize = "cover";
    document.getElementById("containerLeft").style.backgroundPosition = "center center";
    </script>
{% endblock %}